<%-include("./partials/header")%>
<div class="container">
  <header class="jumbotron">
    <div class="container">
      <h1>Welcome to your personal todo list</h1>
      <p>Simple web app to improve your productivity</p>
    </div>
  </header>
</div>

<%-include("./partials/footer")%>
